@use "../utilities/variables" as v;
@use "../utilities/mixins"  as m;

footer {
    
    .container-footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
        article {
           
            &:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                div {

                    h2 {
                        color: rgb(0, 0, 0);
                        font-family: v.$fuente;
                     font-size: clamp(0.9rem, 1vw, 1.5rem);
                    }
                }
            }

            &:last-child {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                a{
                   
                   
                    img.logo-footer {
                         transition: transform 0.3s ease;

                  &:hover {
                   transform: scale(1.05);}
                        width: 40px;
                    }
                }
            }
        }
  
    }
@include m.mobile {
    .container-footer{
        grid-template-columns: repeat(1, 1fr);
    }
}

}