@use "../utilities/variables" as v;


footer {
    
    .container-footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
        article {
           
            &:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                div {

                    h2 {
                        font-family: v.$fuente;
                    }
                }
            }

            &:last-child {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                a{
                   
                   
                    img.logo-footer {
                         transition: transform 0.3s ease;

                  &:hover {
                   transform: scale(1.05);}
                        width: 40px;
                    }
                }
            }
        }
    }
}