@use "../utilities/variables" as v;




nav{
    background-color: white;
   
    div{
        a{
             transition: transform 0.3s ease;

                  &:hover {
                   transform: scale(1.05);}
        img{


        }
        h1{
            font-family: v.$fuente;

        }
           }
        div{
            
            ul{
                li{
                    transition: transform 0.3s ease;

                  &:hover {
                   transform: scale(1.0);}
                    font-family: v.$fuente;

                }
            }
        }

    }
}




